GCP_PROJECT_ID=your-gcp-project-id
GCE_INSTANCE_LIST=electrs-1@asia-east1-a,electrs-2@asia-northeast1-b
# If any instance omits @zone, set a default:
# GCE_ZONE=asia-east1-a
GCP_WIF_PROVIDER=projects/123456789/locations/global/workloadIdentityPools/gh-pool/providers/gh-provider
GCP_WIF_SERVICE_ACCOUNT=deploy-bot@your-gcp-project-id.iam.gserviceaccount.com

# Optional
ELECTRS_SERVICE=electrs
ELECTRS_USER=opcat
ELECTRS_ARGS=--electrum-rpc-addr=0.0.0.0:50006 --http-addr=0.0.0.0:3006 --network=opcat --utxos-limit=500000 --electrum-txs-limit=100000 --daemon-rpc-addr=localhost:18443 --cookie=REPLACE_ME --db-dir=/mnt/electrs-data --address-search -vvv --timestamp --cors=*
ELECTRS_WORKDIR=/var/lib/electrs
